<p>
  Querido <%= @user.name %>,
</p>

<p>
  ¡Tienes un nuevo seguidor!<br/>
  <%= @follower.name %> (<%= @follower.mail %>) te sigue en RifasMaister!
</p>

<p>
  Saludos,<br/>
  Equipo de Rifas Maister.
</p>
