<div class="main">
  <div class="container">
    <h1>Hello my name is Matias</h1>
    <p>I make Rails apps.</p>
    <%@rifas.each do |u|%>
      <h2><%=u.owner_name%></h2>
      <p><%=u.numbers%></p>
      <p><%=u.price%></p>
    <%end%>
  </div>
</div>
