<div class="main">
  <div class="container">
    <h1>Hello my name is Matias</h1>
    <p>I make Rails apps.</p>
    <%@users.each do |u|%>
      <h2>Nombre de usuario: <%=u.name%></h2>
      <p>Correo: <%=u.mail%></p>
      <%=link_to 'Más informacion', user_path(u)%>
    <%end%>
    <%= link_to 'Crear nuevo usuario', "users/new" %>
  </div>
</div>
