<div class="tag">
  <div class="container">
    <h2>Nombre de usuario: <%= @user.name %></h2>
    <div class="cards row">
      <% @user.rifas.each do |d| %>
      <div class="card col-xs-4">
        <h2>precio: <%= d.price %></h2>
        <p>numeros restantes: <%= d.numbers %></p>
      </div>
      <% end %>
    </div>
  </div>
</div>
