<div class="main">
  <div class="container">
    <h1>Bienvenido a Gestor de Rifas Online!</h1>
    <%@rifas.each do |u|%>
      <h2><%=u.owner%></h2>
      <p><%=u.numbers%></p>
      <p><%=u.price%></p>
      <p><%=link_to 'Mas informacion', rifa_path(u)%></p>
    <%end%>
  </div>
</div>
