<p>
  Estimado <%= @winner.name %>,
</p>

<p>
  Has salido ganador del sorteo en la rifa <%=@rifa.title%>!!!
  Tu numero fue <%=@number.number%>
</p>
<p>
  Te has ganado los siguiente premios:
  <%@rifa.prizes.each do |f|%>
  <ul>
    <li><%=f.name%></li>
  </ul>
  <%end%>
</p>

<p>
  Saludos,<br/>
  Equipo de Rifas Maister
</p>
