<p>
  Estimado <%= @buyer.name %>,
</p>

<p>
  Su compra pendiente sobre la rifa <%=@rifa.title%> ha sido aprovada por el administrador del sitio<br/>
  Agradecemos su paciencia.
</p>

<p>
  Saludos,<br/>
  Equipo dr Rifas Maister
</p>
