// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background: #F7F7F7 url(asset_path('background.jpg')) top left repeat;
  font-family: Helvetica, Arial;
}
.header {
  padding-bottom: 15px;
  background-color: #B00100;
  margin: 0;
}
.header h1{
  padding-bottom: 15px;
  text-align: center;
  color: #F7F7F7;
  margin-top: 30px;
}
.nav{
  text-align:center;
  padding: 15px;
  margin: auto;
}
.nav li{
  display: inline;
  padding: 10px;
  margin-right: 15px;
  margin-bottom: 0;
  border: 2px #2E2F30 solid;
  color: #888888;
  background: white;
  text-align: center;
  max-height: 15px;
}
.session-button li {
  float: right;
  img {
    float: right;
    margin-left: 5px;
  }
}
.home-button{
  float: left;
}
.nav a {
  text-decoration: none;
}
.content-section {
  padding: 15px;
  width: 600px;
  margin: auto;

}
.content-section h2{
  text-align:center;
}
.prizes li{
  display: inline;
}

.raffle{
  border: 2px solid #888888;
  margin: 10px;
  background-color: #FFFFFF;
}

.raffle h3{
  margin: 10px;
  border-bottom: 1px solid #dddddd;
}
.raffle ul{
  list-style-type: none;
  padding-left: 30px;
}

.raffle ul li{
  padding: 1px;
}

.button {
  text-align: right;
  margin-right: 30px;
  margin-bottom: 20px;
}
