// Place all the styles related to the Rifas controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/


.comentarios-div{
  width: 80%;
  margin: 0 auto;
  margin-top: 10px;
  background-color: #fbf8f8;
  border-radius: 20px;
  overflow: hidden;
  .comentarios-title{
    padding: 10px;
    margin-left: 20px;
    background-color: #fbf8f8;
  }
}
.numbers{
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}
.number-col{
  padding: 3px;
  border: 1px solid gray;
  border-radius: 2px;
  width: 4%;
  margin: 4px;
  color: black;
  background-color: greenyellow;
  text-align: center;
  float: left;
  cursor: pointer;
}
.number-col:disabled {
  background: gray;
  cursor: default;
}
.comment-form{
  width: 80%;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  .comentario{
    ul{
      list-style-type: none;
      border: 1px solid gray;
      border-radius: 5px;
      margin-bottom: 10px;
      padding: 15px;
      overflow: hidden;
      background-color: #F0F0F0;
      li{
        font-size: large;
        font-weight: bold;
        padding: 10px;
        margin-left: 10px;
        border: 1px solid gray;
        background-color: white;
        border-radius: 5px;
        a{
          text-decoration: none;
          color:blue;
        }
      }
      .fecha{
        float: right;
        font-weight: normal;
        font-size: medium;
        color: dimgray;
        border: 0;
        padding: 0;
        margin: 0;
        background-color: #F0F0F0;
      }
    }
  }
  .simple_form{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 5px;
    padding: 0;

  }
  textarea{
    border-radius: 5px;
    width: 80%;
    margin: 50px;
    margin-bottom: 20px;
    padding: 20px;

  }
}