// Place all the styles related to the Rifas controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/


.comentarios-div{
  width: 80%;
  margin: 0 auto;
  margin-top: 10px;
  background-color: #fbf8f8;
  border-radius: 20px;
  overflow: hidden;
  .comentarios-title{
    padding: 10px;
    margin-left: 20px;
    background-color: #fbf8f8;
  }
}
.numbers{
  width: 90%;
  margin: 0 auto;
}
.number-col{
  padding: 3px;
  border: 1px solid gray;
  border-radius: 2px;
  width: 4%;
  margin: 4px;
  color: black;
  background-color: greenyellow;
  text-align: center;
  float: left;
  cursor: pointer;
}
.number-col:disabled {
  background: gray;
  cursor: default;
}