// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// User-view
.user-view {
  padding-left: 20px;
  div {
    margin: 30px;
    border: 2px #2E2F30 solid;
    background: #FFFFFF;
    color: #2E2F30;
  }
  h2 {
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: 1px solid #dddddd;
  }
  h3 {
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: 1px solid #dddddd;
  }
}
// Profile
.profile {
  height: 250px;
  img {
    border: 1px #2E2F30 solid;
    float: left;
    margin-left: 30px;
  }
  ul {
    list-style-type: none;
    padding-left: 30px;
    margin-left: 150px;
  }
}
// Own raffles
.own-raffles {
  #own {

  }
}

.button {
  //size: 100px;
}
// Bought raffles

// New user Form
.title {
  text-align: center;
}
.new_user_form {
  border: 2px solid #888888;
  margin: 10px;
  background-color: #FFFFFF;
}
.field {
  padding: 15px 15px 0 15px;
}
.submit-button {
  float: right;
}