<div class="form-content">
  <div class="simple_form">
    <h2 class="premio-title">Premios Rifa <%= @rifa.title%></h2>
    <ol class="lista-premio">
      <%@prizes.each do |u|%>
        <li><%=u.name%></li>
      <%end%>
    </ol>
    <div class="submit-div premio-div">
      <%= button_to 'Agregar Premio', new_rifa_prize_path(@rifa.id), method: :get, class: "premio-btn"%>
    </div>
    <div class="submit-div premio-div">
      <%= button_to 'Finalizar', rifa_path(@rifa.id), method: :get, class: "premio-btn"%>
    </div>
  </div>
</div>

