<div class="blanck">
</div>
<div class="form-content">
  <%= simple_form_for  @prize, url:{ controller: :prizes, action: :create } do |f| %>
      <h1 class="form-title">Agregar un Premio</h1>
      <%= f.input :name, error:"El premio debe tener título" %>
      <div class="submit-div">
        <%= f.button :submit,  "Agregar", class:"btn" %>
      </div>

  <% end %>
</div>

